@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.nav{
  text-align: center;
  font-size: 100px;
}

h1{
  padding: 0px, 0px, 0px, 5px;
  font-size: 45px;
}
.about-section {
  font-family: 'Bangers', cursive;
  padding: 0px, 4px, 0px, 4px;
  text-align: center;
  background: linear-gradient(45deg, #8e68b1, #f0a3bc);
  color:  #8e68b1;
}

.mylogo{
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-right:90%;
  max-width: 150px;
  height: 150px;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(45deg, #8e68b1, #f0a3bc);
  }
  
  .mypicture{
    max-width: 230px;
  }

  .github{
    width: 45px;
  }

  .Linkdln{
    width: 45px;
  }

  p{
    font-size: 1.5rem;
    color: aliceblue;
    line-height: 2rem;
    margin-bottom: auto;
  }
  
  .column{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1rem;
    text-align: center;
  }
 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
